
# updated

# Sample UCF File for Prj145 rev2 Board 
NET "DCLK"         LOC = P95;

NET "HSPI_SS"      LOC = P74;
NET "HSPI_MOSI[0]" LOC = P75;
NET "HSPI_MOSI[1]" LOC = P78;
NET "HSPI_MISO[0]" LOC = P80;
NET "HSPI_MISO[1]" LOC = P79;
NET "HSPI_SCLK"    LOC = P84;

NET "LEDS[3]"      LOC = P104;
NET "LEDS[2]"      LOC = P105;
NET "LEDS[1]"      LOC = P111;
NET "LEDS[0]"      LOC = P112;

NET "GPIO0[0]"     LOC = P119;
NET "GPIO0[1]"     LOC = P118;
NET "GPIO0[2]"     LOC = P117;
NET "GPIO0[3]"     LOC = P116;
NET "GPIO0[4]"     LOC = P115;
NET "GPIO0[5]"     LOC = P114;

NET "GPIO1[0]"     LOC = P101;
NET "GPIO1[1]"     LOC = P102;
NET "GPIO1[2]"     LOC = P99;
NET "GPIO1[3]"     LOC = P100;
NET "GPIO1[4]"     LOC = P97;
NET "GPIO1[5]"     LOC = P98;

NET "SCLK"          LOC = P22;   # IOV0[0]
#NET "IOV0[1]"      LOC = P21;  # IOV0[1]
#NET "IOV0[2]"      LOC = P17;  # IOV0[2]
#NET "IOV0[3]"      LOC = P16;  # IOV0[3]
NET "ADCI[10]"      LOC = P15;   # IOV0[4]
NET "ADCI[11]"      LOC = P14;   # IOV0[5]
NET "ADCI[8]"       LOC = P12;   # IOV0[6]
NET "ADCI[9]"       LOC = P11;   # IOV0[7]
NET "ADCI[6]"       LOC = P10;   # IOV0[8]
NET "ADCI[7]"       LOC = P9;    # IOV0[9]
NET "ADCI[4]"       LOC = P8;    # IOV0[10]
NET "ADCI[5]"       LOC = P7;    # IOV0[11]
NET "ADCI[2]"       LOC = P6;    # IOV0[12]
NET "ADCI[3]"       LOC = P5;    # IOV0[13]
NET "ADCI[0]"       LOC = P2;    # IOV0[14]
NET "ADCI[1]"       LOC = P1;    # IOV0[15]
                   
NET "ADCQ[11]"      LOC = P142;  # IOV1[0]
NET "ADCQ[10]"      LOC = P141;  # IOV1[1]
NET "ADCQ[9]"       LOC = P140;  # IOV1[2]
NET "ADCQ[8]"       LOC = P139;  # IOV1[3]
NET "ADCQ[7]"       LOC = P138;  # IOV1[4]
NET "ADCQ[6]"       LOC = P137;  # IOV1[5]
NET "ADCQ[5]"       LOC = P134;  # IOV1[6]
NET "ADCQ[4]"       LOC = P133;  # IOV1[7]
NET "ADCQ[3]"       LOC = P132;  # IOV1[8]
NET "ADCQ[2]"       LOC = P131;  # IOV1[9]
NET "ADCQ[1]"       LOC = P127;  # IOV1[10]
NET "ADCQ[0]"       LOC = P126;  # IOV1[11]
#NET "IOV1[12]"     LOC = P124; # IOV1[12]
#NET "IOV1[13]"     LOC = P123; # IOV1[13]
#NET "IOV1[14]"     LOC = P121; # IOV1[14]
#NET "IOV1[15]"     LOC = P120; # IOV1[15]

NET "DCLK"         IOSTANDARD = LVCMOS33;

NET "HSPI_SS"      IOSTANDARD = LVCMOS33;
NET "HSPI_MOSI[0]" IOSTANDARD = LVCMOS33;
NET "HSPI_MOSI[1]" IOSTANDARD = LVCMOS33;
NET "HSPI_MISO[0]" IOSTANDARD = LVCMOS33;
NET "HSPI_MISO[1]" IOSTANDARD = LVCMOS33;
NET "HSPI_SCLK"    IOSTANDARD = LVCMOS33;

NET "LEDS[3]"      IOSTANDARD = LVCMOS33;
NET "LEDS[2]"      IOSTANDARD = LVCMOS33;
NET "LEDS[1]"      IOSTANDARD = LVCMOS33;
NET "LEDS[0]"      IOSTANDARD = LVCMOS33;

NET "GPIO0[0]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[1]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[2]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[3]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[4]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[5]"     IOSTANDARD = LVCMOS33;

NET "GPIO1[0]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[1]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[2]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[3]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[4]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[5]"     IOSTANDARD = LVCMOS33;

NET "SCLK"         IOSTANDARD = LVCMOS33;  # IOV0[0]
#NET "IOV0[1]"      IOSTANDARD = LVCMOS33; # IOV0[1]
#NET "IOV0[2]"      IOSTANDARD = LVCMOS33; # IOV0[2]
#NET "IOV0[3]"      IOSTANDARD = LVCMOS33; # IOV0[3]
NET "ADCI[10]"     IOSTANDARD = LVCMOS33;  # IOV0[4]
NET "ADCI[11]"     IOSTANDARD = LVCMOS33;  # IOV0[5]
NET "ADCI[8]"      IOSTANDARD = LVCMOS33;  # IOV0[6]
NET "ADCI[9]"      IOSTANDARD = LVCMOS33;  # IOV0[7]
NET "ADCI[6]"      IOSTANDARD = LVCMOS33;  # IOV0[8]
NET "ADCI[7]"      IOSTANDARD = LVCMOS33;  # IOV0[9]
NET "ADCI[4]"      IOSTANDARD = LVCMOS33;  # IOV0[10]
NET "ADCI[5]"      IOSTANDARD = LVCMOS33;  # IOV0[11]
NET "ADCI[2]"      IOSTANDARD = LVCMOS33;  # IOV0[12]
NET "ADCI[3]"      IOSTANDARD = LVCMOS33;  # IOV0[13]
NET "ADCI[0]"      IOSTANDARD = LVCMOS33;  # IOV0[14]
NET "ADCI[1]"      IOSTANDARD = LVCMOS33;  # IOV0[15]

NET "ADCQ[0]"      IOSTANDARD = LVCMOS33;  # IOV1[0]
NET "ADCQ[1]"      IOSTANDARD = LVCMOS33;  # IOV1[1]
NET "ADCQ[2]"      IOSTANDARD = LVCMOS33;  # IOV1[2]
NET "ADCQ[3]"      IOSTANDARD = LVCMOS33;  # IOV1[3]
NET "ADCQ[4]"      IOSTANDARD = LVCMOS33;  # IOV1[4]
NET "ADCQ[5]"      IOSTANDARD = LVCMOS33;  # IOV1[5]
NET "ADCQ[6]"      IOSTANDARD = LVCMOS33;  # IOV1[6]
NET "ADCQ[7]"      IOSTANDARD = LVCMOS33;  # IOV1[7]
NET "ADCQ[8]"      IOSTANDARD = LVCMOS33;  # IOV1[8]
NET "ADCQ[9]"      IOSTANDARD = LVCMOS33;  # IOV1[9]
NET "ADCQ[10]"     IOSTANDARD = LVCMOS33;  # IOV1[10]
NET "ADCQ[11]"     IOSTANDARD = LVCMOS33;  # IOV1[11]
#NET "IOV1[12]"     IOSTANDARD = LVCMOS33; # IOV1[12]
#NET "IOV1[13]"     IOSTANDARD = LVCMOS33; # IOV1[13]
#NET "IOV1[14]"     IOSTANDARD = LVCMOS33; # IOV1[14]
#NET "IOV1[15]"     IOSTANDARD = LVCMOS33; # IOV1[15]

# Set the digital input clock timing
NET "DCLK" TNM_NET = int_DCLK;
TIMESPEC TS_DCLK = PERIOD "int_DCLK" 12 MHz HIGH 50%;

# Set the sample input clock timing
NET "SCLK" TNM_NET = int_SCLK;
TIMESPEC TS_SCLK = PERIOD "int_SCLK" 40MHz HIGH 50%;

# Set the SPI input clock timing (max)
NET "HSPI_SCLK" TNM_NET = int_HSPI_SCLK;
TIMESPEC TS_HSPI_SCLK = PERIOD "int_HSPI_SCLK" 48 MHz HIGH 50%;

# Set the SPI slave select timing (max).  While this
# is not periodic, it reflects min required deselect time
NET "HSPI_SS" TNM_NET = int_HSPI_SS;
TIMESPEC TS_HSPI_SS = PERIOD "int_HSPI_SS" 20 MHz HIGH 50%;



