# updated

# Sample UCF File for Prj145 rev2 Board 
NET "DCLK"         LOC = P95;

NET "HSPI_SS"      LOC = P74;
NET "HSPI_MOSI[0]" LOC = P75;
NET "HSPI_MOSI[1]" LOC = P78;
NET "HSPI_MISO[0]" LOC = P80;
NET "HSPI_MISO[1]" LOC = P79;
NET "HSPI_SCLK"    LOC = P84;

NET "LEDS[3]"      LOC = P104;
NET "LEDS[2]"      LOC = P105;
NET "LEDS[1]"      LOC = P111;
NET "LEDS[0]"      LOC = P112;

NET "GPIO0[0]"     LOC = P119;
NET "GPIO0[1]"     LOC = P118;
NET "GPIO0[2]"     LOC = P117;
NET "GPIO0[3]"     LOC = P116;
NET "GPIO0[4]"     LOC = P115;
NET "GPIO0[5]"     LOC = P114;

NET "GPIO1[0]"     LOC = P101;
NET "GPIO1[1]"     LOC = P102;
NET "GPIO1[2]"     LOC = P99;
NET "GPIO1[3]"     LOC = P100;
NET "GPIO1[4]"     LOC = P97;
NET "GPIO1[5]"     LOC = P98;

NET "IOV0[0]"      LOC = P22;
NET "IOV0[1]"      LOC = P21;
NET "IOV0[2]"      LOC = P17;
NET "IOV0[3]"      LOC = P16;
NET "IOV0[4]"      LOC = P15;
NET "IOV0[5]"      LOC = P14;
NET "IOV0[6]"      LOC = P12;
NET "IOV0[7]"      LOC = P11;
NET "IOV0[8]"      LOC = P10;
NET "IOV0[9]"      LOC = P9;
NET "IOV0[10]"     LOC = P8;
NET "IOV0[11]"     LOC = P7;
NET "IOV0[12]"     LOC = P6;
NET "IOV0[13]"     LOC = P5;
NET "IOV0[14]"     LOC = P2;
NET "IOV0[15]"     LOC = P1;

NET "IOV1[0]"      LOC = P142;
NET "IOV1[1]"      LOC = P141;
NET "IOV1[2]"      LOC = P140;
NET "IOV1[3]"      LOC = P139;
NET "IOV1[4]"      LOC = P138;
NET "IOV1[5]"      LOC = P137;
NET "IOV1[6]"      LOC = P134;
NET "IOV1[7]"      LOC = P133;
NET "IOV1[8]"      LOC = P132;
NET "IOV1[9]"      LOC = P131;
NET "IOV1[10]"     LOC = P127;
NET "IOV1[11]"     LOC = P126;
NET "IOV1[12]"     LOC = P124;
NET "IOV1[13]"     LOC = P123;
NET "IOV1[14]"     LOC = P121;
NET "IOV1[15]"     LOC = P120;

NET "DCLK"         IOSTANDARD = LVCMOS33;

NET "HSPI_SS"      IOSTANDARD = LVCMOS33;
NET "HSPI_MOSI[0]" IOSTANDARD = LVCMOS33;
NET "HSPI_MOSI[1]" IOSTANDARD = LVCMOS33;
NET "HSPI_MISO[0]" IOSTANDARD = LVCMOS33;
NET "HSPI_MISO[1]" IOSTANDARD = LVCMOS33;
NET "HSPI_SCLK"    IOSTANDARD = LVCMOS33;

NET "LEDS[3]"      IOSTANDARD = LVCMOS33;
NET "LEDS[2]"      IOSTANDARD = LVCMOS33;
NET "LEDS[1]"      IOSTANDARD = LVCMOS33;
NET "LEDS[0]"      IOSTANDARD = LVCMOS33;

NET "GPIO0[0]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[1]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[2]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[3]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[4]"     IOSTANDARD = LVCMOS33;
NET "GPIO0[5]"     IOSTANDARD = LVCMOS33;

NET "GPIO1[0]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[1]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[2]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[3]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[4]"     IOSTANDARD = LVCMOS33;
NET "GPIO1[5]"     IOSTANDARD = LVCMOS33;

NET "IOV0[0]"      IOSTANDARD = LVCMOS33;
NET "IOV0[1]"      IOSTANDARD = LVCMOS33;
NET "IOV0[2]"      IOSTANDARD = LVCMOS33;
NET "IOV0[3]"      IOSTANDARD = LVCMOS33;
NET "IOV0[4]"      IOSTANDARD = LVCMOS33;
NET "IOV0[5]"      IOSTANDARD = LVCMOS33;
NET "IOV0[6]"      IOSTANDARD = LVCMOS33;
NET "IOV0[7]"      IOSTANDARD = LVCMOS33;
NET "IOV0[8]"      IOSTANDARD = LVCMOS33;
NET "IOV0[9]"      IOSTANDARD = LVCMOS33;
NET "IOV0[10]"     IOSTANDARD = LVCMOS33;
NET "IOV0[11]"     IOSTANDARD = LVCMOS33;
NET "IOV0[12]"     IOSTANDARD = LVCMOS33;
NET "IOV0[13]"     IOSTANDARD = LVCMOS33;
NET "IOV0[14]"     IOSTANDARD = LVCMOS33;
NET "IOV0[15]"     IOSTANDARD = LVCMOS33;

NET "IOV1[0]"      IOSTANDARD = LVCMOS33;
NET "IOV1[1]"      IOSTANDARD = LVCMOS33;
NET "IOV1[2]"      IOSTANDARD = LVCMOS33;
NET "IOV1[3]"      IOSTANDARD = LVCMOS33;
NET "IOV1[4]"      IOSTANDARD = LVCMOS33;
NET "IOV1[5]"      IOSTANDARD = LVCMOS33;
NET "IOV1[6]"      IOSTANDARD = LVCMOS33;
NET "IOV1[7]"      IOSTANDARD = LVCMOS33;
NET "IOV1[8]"      IOSTANDARD = LVCMOS33;
NET "IOV1[9]"      IOSTANDARD = LVCMOS33;
NET "IOV1[10]"     IOSTANDARD = LVCMOS33;
NET "IOV1[11]"     IOSTANDARD = LVCMOS33;
NET "IOV1[12]"     IOSTANDARD = LVCMOS33;
NET "IOV1[13]"     IOSTANDARD = LVCMOS33;
NET "IOV1[14]"     IOSTANDARD = LVCMOS33;
NET "IOV1[15]"     IOSTANDARD = LVCMOS33;


# Set the digital input clock timing
NET "DCLK" TNM_NET = int_DCLK;
TIMESPEC TS_DCLK = PERIOD "int_DCLK" 12 MHz HIGH 50%;

# Set the SPI input clock timing (max)
NET "HSPI_SCLK" TNM_NET = int_HSPI_SCLK;
TIMESPEC TS_HSPI_SCLK = PERIOD "int_HSPI_SCLK" 48 MHz HIGH 50%;

# Set the SPI slave select timing (max).  While this
# is not periodic, it reflects min required deselect time
NET "HSPI_SS" TNM_NET = int_HSPI_SS;
TIMESPEC TS_HSPI_SS = PERIOD "int_HSPI_SS" 20 MHz HIGH 50%;



