
#
# Sample UCF File for Prj145 Board 
# Only host and flash spi defined
#

NET "HSPI_SS"      LOC = P74;
NET "HSPI_MOSI[0]" LOC = P75;
NET "HSPI_MOSI[1]" LOC = P78;
NET "HSPI_MISO[0]" LOC = P80;
NET "HSPI_MISO[1]" LOC = P79;
NET "HSPI_SCLK"    LOC = P84;

NET "FSPI_SS"      LOC = P38;
NET "FSPI_MOSI"    LOC = P64;
NET "FSPI_MISO"    LOC = P65;
NET "FSPI_SCLK"    LOC = P70;

NET "HSPI_SS"      IOSTANDARD = LVCMOS33;
NET "HSPI_MOSI[0]" IOSTANDARD = LVCMOS33;
NET "HSPI_MOSI[1]" IOSTANDARD = LVCMOS33;
NET "HSPI_MISO[0]" IOSTANDARD = LVCMOS33;
NET "HSPI_MISO[1]" IOSTANDARD = LVCMOS33;
NET "HSPI_SCLK"    IOSTANDARD = LVCMOS33;

NET "FSPI_SS"      IOSTANDARD = LVCMOS33;
NET "FSPI_MOSI"    IOSTANDARD = LVCMOS33;
NET "FSPI_MISO"    IOSTANDARD = LVCMOS33;
NET "FSPI_SCLK"    IOSTANDARD = LVCMOS33;
